<div class="employee-directory">

  <!-- Page header -->
  <header class="employee-directory__header">
    <h1 class="employee-directory__title">{{ texts.masterTitle }}</h1>
    <app-ui-button
      [label]="texts.hireEmployeeTitle"
      icon="anadir"
      (pressed)="onHireClick()"
    />
  </header>

  <!-- Search -->
  <div class="employee-directory__search-row">
    <p-iconfield class="employee-directory__search-field">
      <p-inputicon><b4-icon name="buscar" [size]="16" /></p-inputicon>
      <input
        pInputText
        class="employee-directory__search-input"
        type="text"
        [attr.aria-label]="texts.searchLabel"
        [placeholder]="texts.searchPlaceholder"
        [value]="searchValue()"
        (input)="updateSearch($any($event.target).value)"
      />
    </p-iconfield>
    <span class="employee-directory__count">{{ tableData().length }} empleados</span>
  </div>

  <!-- DataTable -->
  <div class="employee-directory__table-wrapper">
    @if (error()) {
      <p class="employee-directory__error">{{ texts.directoryLoadFailedMessage }}</p>
    }

    <p-table
      [value]="tableData()"
      [loading]="loading()"
      [rows]="50"
      [paginator]="tableData().length > 50"
      styleClass="employee-directory__table"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="employee-directory__th">{{ texts.employeeNameColumnLabel }}</th>
          <th class="employee-directory__th">{{ texts.employeeClaveColumnLabel }}</th>
          <th class="employee-directory__th">{{ texts.employeeTypeColumnLabel }}</th>
          <th class="employee-directory__th">{{ texts.employeeConvenioColumnLabel }}</th>
          <th class="employee-directory__th">{{ texts.employeeStatusColumnLabel }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee>
        <tr class="employee-directory__row" (click)="openEmployee(employee)" role="button" tabindex="0" (keydown.enter)="openEmployee(employee)">
          <td class="employee-directory__td employee-directory__td--name">{{ employee.displayName }}</td>
          <td class="employee-directory__td employee-directory__td--mono">{{ employee.employeeNumber }}</td>
          <td class="employee-directory__td">{{ employee.employeeTypeCode }}</td>
          <td class="employee-directory__td">{{ employee.ruleSystemCode }}</td>
          <td class="employee-directory__td">
            <app-ui-tag
              [value]="resolveStatusLabel(employee.statusLabel)"
              [severity]="resolveStatusSeverity(employee.statusLabel)"
            />
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5" class="employee-directory__empty">
            {{ searchValue() ? texts.noResultEmployeesTitle : texts.emptyDirectoryTitle }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
