<header class="entity-header">
  <div class="entity-header__main">
    @if (photoUrl()) {
      <div class="entity-header__avatar entity-header__avatar--photo" aria-hidden="true">
        <img class="entity-header__avatar-img" [src]="photoUrl()" alt="" />
      </div>
    } @else if (avatarText()) {
      <div class="entity-header__avatar" aria-hidden="true">
        {{ avatarText() }}
      </div>
    }

    <div class="entity-header__copy">
      @if (eyebrow()) {
        <p class="entity-header__eyebrow">{{ eyebrow() }}</p>
      }

      <div class="entity-header__headline-row">
        <div class="entity-header__headline-copy">
          <h2 class="entity-header__title">{{ title() }}</h2>
          @if (subtitle()) {
            <p class="entity-header__subtitle">{{ subtitle() }}</p>
          }
        </div>

        <div class="entity-header__actions">
          @if (status(); as currentStatus) {
            <app-ui-tag
              [value]="currentStatus.label"
              [severity]="currentStatus.severity ?? 'secondary'"
              [rounded]="true"
            />
          }
          <ng-content select="[entityHeaderActions]"></ng-content>
        </div>
      </div>

      @if (hasMetadata()) {
        <dl class="entity-header__metadata">
          @for (item of metadata(); track item.label) {
            <div
              class="entity-header__metadata-item"
              [class.entity-header__metadata-item--copyable]="item.copyable"
              [attr.title]="item.copyable ? 'Copiar ' + item.label : null"
              (click)="copyValue(item)"
            >
              <dt>{{ item.label }}</dt>
              <dd>
                @if (item.copyable && copiedLabel() === item.label) {
                  <span class="entity-header__copied-feedback">
                    <b4-icon name="comprobar" [size]="16" /> Copiado
                  </span>
                } @else {
                  {{ item.value }}
                  @if (item.copyable) {
                    <b4-icon class="entity-header__copy-icon" name="copiar" [size]="16" />
                  }
                }
              </dd>
            </div>
          }
        </dl>
      }
    </div>

    <div class="entity-header__visual">
      <ng-content select="[entityHeaderVisual]"></ng-content>
    </div>
  </div>
</header>
