<form class="create-rule-entity-form" [formGroup]="form" (ngSubmit)="submit()">
  <label>
    <span>{{ texts.createCodeLabel }}</span>
    <input
      pInputText
      type="text"
      formControlName="code"
      maxlength="30"
      (input)="markInteraction()"
      [disabled]="disabled()"
    />
    @if (form.controls.code.touched && form.controls.code.hasError('required')) {
      <small class="create-rule-entity-form__error">{{ texts.createCodeRequired }}</small>
    }
    @if (form.controls.code.touched && form.controls.code.hasError('maxlength')) {
      <small class="create-rule-entity-form__error">{{ texts.createCodeMaxLength }}</small>
    }
  </label>

  <label>
    <span>{{ texts.createNameLabel }}</span>
    <input
      pInputText
      type="text"
      formControlName="name"
      maxlength="100"
      (input)="markInteraction()"
      [disabled]="disabled()"
    />
    @if (form.controls.name.touched && form.controls.name.hasError('required')) {
      <small class="create-rule-entity-form__error">{{ texts.createNameRequired }}</small>
    }
    @if (form.controls.name.touched && form.controls.name.hasError('maxlength')) {
      <small class="create-rule-entity-form__error">{{ texts.createNameMaxLength }}</small>
    }
  </label>

  <label>
    <span>{{ texts.createDescriptionLabel }}</span>
    <textarea
      formControlName="description"
      maxlength="500"
      rows="3"
      (input)="markInteraction()"
      [disabled]="disabled()"
    ></textarea>
    @if (form.controls.description.touched && form.controls.description.hasError('maxlength')) {
      <small class="create-rule-entity-form__error">{{ texts.createDescriptionMaxLength }}</small>
    }
  </label>

  <label>
    <span>{{ texts.createStartDateLabel }}</span>
    <app-ui-date-input
      [value]="form.controls.startDate.value"
      [disabled]="disabled()"
      (valueChanged)="updateDateField('startDate', $event)"
    />
    @if (form.controls.startDate.touched && form.controls.startDate.hasError('required')) {
      <small class="create-rule-entity-form__error">{{ texts.createStartDateRequired }}</small>
    }
  </label>

  <label>
    <span>{{ texts.createEndDateLabel }}</span>
    <app-ui-date-input
      [value]="form.controls.endDate.value"
      [disabled]="disabled()"
      (valueChanged)="updateDateField('endDate', $event)"
    />
  </label>

  @if (hasRangeError()) {
    <small class="create-rule-entity-form__error">{{ texts.createEndDateInvalidRange }}</small>
  }

  <div class="create-rule-entity-form__actions">
    <app-ui-button
      type="submit"
      [disabled]="creating() || disabled()"
      [label]="creating() ? texts.creatingMessage : texts.createSubmitAction"
    />
  </div>
</form>
