<app-temporal-section
  anchorId="employee-section-working-time"
  title="Jornada"
  [rows]="rows()"
  (addClicked)="openCreate()"
  (editClicked)="openEdit($event)"
>
  <ng-template #columnHeaders>
    <th class="temporal-section__th">%</th>
    <th class="temporal-section__th">Horas/semana</th>
  </ng-template>
  <ng-template #cellContent let-row>
    <td class="temporal-section__td">{{ row.workingTimePercentage }} %</td>
    <td class="temporal-section__td">
      {{ row.weeklyHours | number: '1.0-2' }} h/semana
      <span class="temporal-section__code">{{ row.dailyHours | number: '1.0-2' }} h/día</span>
    </td>
  </ng-template>
</app-temporal-section>

<app-period-modal
  [title]="modalTitle()"
  [subtitle]="modalSubtitle()"
  [visible]="modalVisible()"
  [saving]="saving()"
  [submitEnabled]="isSubmitEnabled()"
  [submitLabel]="modalMode() === 'close' ? 'Cerrar jornada' : 'Guardar'"
  [showCloseAction]="modalMode() === 'edit' && editingIsActive()"
  [note]="showCascadeWarning() ? texts.periodCascadeWarningMessage : null"
  (visibleChange)="modalVisible.set($event)"
  (submitted)="submit()"
  (cancelled)="closeModal()"
  (closeActionClicked)="switchToClose()"
>
  @if (modalMode() === 'create') {
    <app-ui-date-input [value]="startDateDraft()" (valueChanged)="startDateDraft.set($event)" />
    <app-ui-input-number
      [value]="percentageDraft()"
      (valueChanged)="percentageDraft.set($event)"
      [min]="1"
      [max]="100"
    />
  }
  @if (modalMode() === 'edit') {
    <app-ui-date-input
      [value]="newStartDateDraft()"
      (valueChanged)="newStartDateDraft.set($event)"
    />
    <app-ui-input-number
      [value]="percentageDraft()"
      (valueChanged)="percentageDraft.set($event)"
      [min]="1"
      [max]="100"
    />
  }
  @if (modalMode() === 'close') {
    <app-ui-date-input [value]="endDateDraft()" (valueChanged)="endDateDraft.set($event)" />
  }
</app-period-modal>
